@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


:root {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Transparent white (paragraphs) */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    /* Very light gray (background, headings, buttons) */
    --very-light-gray: hsl(0, 0%, 95%);
}

/* html {
    min-height: 1000px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding-bottom: 2.5rem;
}

h2 {
    margin-bottom: 1.5rem;
    font-family: 'Big Shoulders Display';
    color: var(--very-light-gray);
    text-transform: uppercase;
    font-size: 2rem;
}

p {
    margin-bottom: 1.5rem;
    color: var(--transparent-white);
    font-size: 1rem;
    /* font-weight: 400; */
    line-height: 1.5rem;
}



/* classes  */

.cards {
    overflow: hidden;
    border-radius: 0.5rem;
}

.card {
    padding: 2.5rem;
}

.image {
    margin-bottom: 1.5rem;
}

.card1 {
    background-color: var(--bright-orange);
}

.card2 {
    background-color: var(--dark-cyan)
}

.card3 {
    background-color: var(--very-dark-cyan);
}

.btn {
    width: 60%;
    max-width: 10rem;
    min-height: 3rem;
    text-align: center;
    border-radius: 1.5rem;
    background-color: var(--very-light-gray);
    overflow: hidden;
}

.btn a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    line-height: 3rem;
}

.a-btn1 {
    color: var(--bright-orange);
}

.a-btn2 {
    color: var(--dark-cyan);
}

.a-btn3 {
    color: var(--very-dark-cyan);
}



@media screen and (max-width: 420px) {
    main {
        width: 90%;
    }
}

@media screen and (min-width: 421px) and (max-width: 799px) {
    main {
        width: 90%;
        max-width: 30rem;
    }
}

@media screen and (min-width: 800px) {
    main {
        width: 65%;
        max-width: 58rem;
        min-width: 45rem;
    }

    .cards {
        display: flex;
        flex-direction: row;
    }

    .btn {
        margin-top: 5rem;
    }
}